footer {
    @include flex-evenly;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
    font-family: $font-family-secondary;
    font-weight: bold;
    @include font-size(normal);
    
    .footer-link {
        @extend .text-link;
        @include flex-between;
        @include font-size(normal);
        padding: 20px 0px 20px 0px;
    }
}
