// FLEXBOX 
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-evenly {
  display: flex;
  justify-content: space-evenly;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-center-vert {
  display: flex;
  align-items: center;
}

@mixin flex-center-horiz {
  display: flex;
  justify-content: center;
}

// CONTAINERS
@mixin desktop-centered-content {
  width: 100%;
  max-width: 1024px;
  margin: auto;

  @include desktop-1920 {
    max-width: 1280px;
  }
}

// MEDIA QUERIES
@mixin only-mobile {
  @media only screen and (max-width: calc($mobile * 1px)) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: calc($tablet * 1px)) {
    @content;
  }
}

@mixin desktop-1920 {
  @media only screen and (max-width: calc($desktop-1920 * 1px)) {
    @content;
  }
}
