.social {
    text-align: center;
    background-image: linear-gradient(to bottom, $color-white, #fffcfe, #fff8fa, #fff5f1, #fff4e8);
    padding: 30px 0;

    .main-title {
        padding-bottom: 20px;
    }

    .imagenesredes {
        @include flex-evenly;
        @include font-size(normal);
        font-family: $font-family-secondary;
        font-weight: bold;
        padding-top: 20px;
    
        img {
            width: 40px;
        }
    
        .text-link {
            @include flex-column;

            min-width: 150px;
            text-decoration: none;
            text-transform: initial;
            gap: 20px;
            align-items: center;
            
            &:hover span {
                color: $color-primary-light;
            }

            span {
                @include font-size(small);
                padding-bottom: 20px;
                font-family: $font-family-secondary;
            }
        }
    }
}

@include only-mobile {
    .imagenesredes {
        justify-content: center;
        gap: 40px;
        padding-bottom: 30px;
    }
    
    .imagenesredes a {
        min-width: initial;
    }
}