@import 'variables';
@import 'reset';
@import 'mixins';
@import 'transitions';

html, body, main {
	min-height: 100vh;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h1, h2, h3, h4, h5 {
	font-family: $font-family-primary;
    font-weight: bold;
    text-transform: uppercase;
}

.container-padded {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px; 
}

.text-link {
	font-family: $font-family-primary;
	font-size: 16px;
	margin: 0;
	color: $color-black;
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-transform: uppercase;
	text-decoration-color: $color-black;
	text-underline-offset: 3px;
}

.main-title {
	margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: $font-family-primary;
    font-weight: bold;
    color: $color-primary;
    padding: 5px;   

	&--light {
		font-weight: 300;
	}
}

.button {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	border: 1px;
	cursor: pointer;
	display: flex;
	font-family: $font-family-primary;
	font-size: 14px;
	font-weight: bold;
	justify-content: center;
	letter-spacing: 1.1px;
	margin: auto;
	padding: 10px;
	text-transform: uppercase;

	&.button-primary {
		color: $color-white;
		background-color: $color-primary;

		&:hover {
			background-color: $color-primary-light;
			color: $color-white;
			animation-name: slide-bck-center;
		}
	}
}

a {
	color: $color-primary;
	text-decoration: none;
		
	&:link {
		color: $color-primary
	}
}

label {
	text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1.1px;
	margin: 5px 0 10px;
}

@include only-mobile {
	.main-title {
		font-size: 20px;
	}

	.button {
		font-size: 12px;
	}
	html, body, main {
		min-height: initial;
	}
	.footer-link {
		font-size: 14px;
	}
}
