@import '_layout';
@import '_social';

.contenedor {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin-bottom: 50px;

    img {
        width: 100%;
        height: 100%;   
        object-fit: cover;
    }

    .bottom {
        @include flex-column;
        padding: 50px;
        background: $color-gray-light;
        
        .formulario {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 11px;
            letter-spacing: 1.1px;
            margin-bottom: 5px;
        
            .form-group {
                margin-bottom: 15px;
            }
        }
    }

}

.maps {
    margin-bottom: 30px;

    iframe {
        margin-bottom: 50px;
        width: 100%;
    }
}

@include only-mobile {
    .contenedor {
        @include flex-column;
    }

    .formulario {
        iframe {
            width: 100%;
        }
    }
    
    .imagenesredes {
        justify-content: flex-start;
        gap: 40px;
        padding-bottom: 30px;

        .text-link {
            min-width: initial;
        }
    }

    .maps {
        iframe {
            width: 100%;
        }
    }
}
