@import '_layout';
@import '_social';

.content {
    @include desktop-centered-content;

    .contenedor {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        margin: 30px 0;
    
        img {
            width: 100%;
            height: 100%;   
            object-fit: cover;
        }
    
        .bottom {
            @include flex-column;
            padding: 50px;
            background: $color-gray-light;
            
            .formulario {
                @include font-size(xsmall);
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 1.1px;
                margin-bottom: 5px;
            
                .form-group {
                    margin-bottom: 15px;
                }
            }
        }
    
    }
    
    .maps {
        margin-bottom: 30px;
    
        iframe {
            margin-bottom: 50px;
            width: 100%;
        }
    }
}


@include only-mobile {
    .content {
        .contenedor {
            @include flex-column;
        }
    
        .formulario {
            iframe {
                width: 100%;
            }
        }
        
        .maps {
            iframe {
                width: 100%;
            }
        }
    }
}
