@import '_layout';

.carousel-inner {
    font-family: $font-family-secondary;

    p {
        margin: 5px 5px 5px 0px;
        padding-top: 5px;
    }
    
    .carousel-caption {
        padding: 30px;
        text-align: left;
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

            h5 {
                font-size: 24px;
            }
    }
}

@include tablet {
    .carousel-inner {
        .carousel-caption {
            display: block;
            position: relative;
            left: 0;
            top: 0;
            background: $color-black;
            min-height: 320px;
    
            p {
                line-height: 1.5;
                padding: 20px 0;
                font-size: 14px;
            }
    
            h5 {
                font-size: 20px;
            }
        }
    }
}
