@import '_layout';
@import '_social';

.presentacion {
    @include flex-column;
    @include desktop-centered-content;
    margin-bottom: 60px;
    
    p {
        @include font-size(subtitle);
        color: $color-text;
        line-height: 1.25;
        margin-top: 20px;
        text-align: justify;
    }
}

@include only-mobile {
    .presentacion {
        width: 100%;
        margin: 0 0 50px;
    }
}
