@import '_layout';
@import '_social';

.presentacion {
    @include flex-column;
    margin-bottom: 60px;
    margin: auto;
    width: 70%;
    
    p {
        color: $color-text;
        font-size: 18px;
        line-height: 1.25;
        margin-top: 20px;
        text-align: justify;
    }
}

@include only-mobile {
    .presentacion {
        width: 100%;
        margin: 0 0 50px;
    }
}
