@import '_layout';
 
main {
    @include desktop-centered-content;

    .torneos {
        @include flex-center-horiz;
        font-family: $font-family-secondary;
        gap: 30px;
        width: 100%;
    
        h2 {
            font-size: 18px;
        }
    
        img {
            width: 100%;
        }
    
        .card-title {
            padding: 20px;
            text-align: center;
        }
    
        .card-text {
            @include flex-column;
            color: $color-text;
            padding-bottom: 20px;
            gap: 7px;
        }
    }
    
    .informacion {
        @include flex-center;
        margin: 80px 0;
        padding-bottom: 40px;
        padding-top: 40px;
    
        a {
            @include flex-center-column;
    
            img {
                width: 70px;
                padding-top: 70px 0px;
            }
    
            span {
                padding: 20px;
                font-family: $font-family-primary;
                color: $color-primary;
                font-weight: bold;
                text-transform: uppercase;
    
                &:hover {
                    color: $color-primary-light;
                }
            }
        }
    }
}

@include tablet {
    .torneos {
        @include flex-column;
        padding-top: 0;
    }
    
    .informacion {
        flex-wrap: wrap;
    }
}
