html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

header {
  position: relative;
  z-index: 999;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@keyframes slide-bck-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
html, body, main {
  min-height: 100vh;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  font-family: "Courier New", ui-monospace;
  font-weight: bold;
  text-transform: uppercase;
}

.container-padded {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.text-link, footer .footer-link {
  font-size: 16px;
  font-family: "Courier New", ui-monospace;
  margin: 0;
  color: #1a1a1a;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-transform: uppercase;
  text-decoration-color: #1a1a1a;
  text-underline-offset: 3px;
}
.text-link:hover, footer .footer-link:hover {
  color: rgb(229, 159, 102);
  text-decoration: underline;
}

.main-title {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Courier New", ui-monospace;
  font-weight: bold;
  color: rgb(218, 139, 74);
  padding: 5px;
}
.main-title--light {
  font-weight: 300;
}

.button {
  font-size: 14px;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 1px;
  cursor: pointer;
  display: flex;
  font-family: "Courier New", ui-monospace;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 1.1px;
  margin: auto;
  padding: 10px;
  text-transform: uppercase;
}
.button.button-primary {
  color: #fff;
  background-color: rgb(218, 139, 74);
}
.button.button-primary:hover {
  background-color: rgb(229, 159, 102);
  color: #fff;
  animation-name: slide-bck-center;
}

a {
  color: rgb(218, 139, 74);
  text-decoration: none;
}
a:hover {
  color: rgb(229, 159, 102);
}

label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  margin: 5px 0 10px;
}

@media only screen and (max-width: 576px) {
  .main-title {
    font-size: 20px;
  }
  .button {
    font-size: 12px;
  }
  html, body, main {
    min-height: initial;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}
.header .navbar {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 16px;
}
.header .navbar ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.header .navbar ul li {
  padding-left: 20px;
  padding-right: 20px;
}
.header a img {
  width: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 576px) {
  .header .navbar ul li {
    padding: 0 10px;
  }
  .header .navbar a {
    font-size: 14px;
  }
}
footer {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 16px;
}
footer .footer-link {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 20px 0px 20px 0px;
}

.contenedor {
  align-items: center;
  display: grid;
  height: 100vh;
  justify-items: center;
  position: relative;
}
.contenedor img {
  filter: brightness(0.65);
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
}
.contenedor .formulario {
  font-size: 16px;
  background-color: #fff;
  border-radius: 4px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  letter-spacing: 1.1px;
  min-width: 400px;
  padding: 10px 30px 40px;
  position: relative;
  z-index: 1;
}
.contenedor .formulario div {
  margin-bottom: 15px;
}
.contenedor .formulario .ingresar:hover {
  background-color: rgb(229, 159, 102);
}
.contenedor .formulario .recordarme-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.contenedor .formulario .recordarme-group label {
  margin: 10px;
}

@media only screen and (max-width: 576px) {
  main {
    height: calc(100vh - 128px);
  }
  .contenedor {
    height: 100%;
  }
  .contenedor .formulario {
    min-width: initial;
    width: 90%;
    margin: auto;
  }
}
