 h1 span {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Courier New",ui-monospace;
    font-weight: bold;
    color:rgb(218, 139, 74);
    padding: 5px;   
}

.formulario {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1.1px;
    margin-bottom: 5px;
}

.formulario div {
    margin-bottom: 15px;
}

.formulario, .fotoLogo {
    display: inline-block;
    vertical-align: middle
}

.bloqueFormularioFoto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ingresar {
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1.1px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 5px;
}

iframe {
    margin-bottom: 50px;
    width: 100%;
}

.imagenesredes {
    display: flex;
    justify-content: space-evenly;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 16px;
}

.imagenesredes img {
    width: 40px;
    padding-bottom: 20px;
}
.imagenesredes a {
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenesredes .text-link--style-1 {
    text-decoration: none;
    text-transform: initial;
}

.text-link--style-1 span{
    padding-bottom: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}

footer .footer-link-container {
    min-width: 150px;
    display: flex;
    justify-content: center;
}

.contenedor {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    height: calc(100vh - 70px);
}

.contenedor img {
    width: 100%;
    height: 100%;   
    object-fit: cover;
}

.columna2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background: #fafafa;
}

.btn {
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Courier New",ui-monospace;
    font-weight: bold;
    display: flex;
    background-color: rgb(218, 139, 74);
    border: none;
    width: 50%;
    cursor: pointer;
    letter-spacing: 1.1px;
    margin: auto;
}

.btn:hover {
    background-color: rgb(214, 203, 0);
}

@media (max-width: 576px) {
    .contenedor {
        display: flex;
        flex-direction: column;
        height: initial;
    }
    
    .imagenesredes {
        justify-content: flex-start;
        gap: 40px;
        padding-bottom: 30px;
    }
    
    .imagenesredes a {
        min-width: initial;
    }
}
