header nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
}

header nav ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

header nav ul li {
    padding-left: 20px;
    padding-right: 20px; 
}

header a img {
    width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 576px) {
    header nav ul li {
        padding: 0 10px;
    }
    header .navbar a {
        font-size: 14px;
    }
}
