h2 span {
    font-family:"Courier New",ui-monospace;
    font-weight: bold;
    font-size: 20px;
    color:rgb(218, 139, 74);
    padding: 5px;
    margin: 5px 5px 5px 0px;
    text-transform: uppercase;
    
}

.noticia {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.img-noticia {
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1, h5 {
    font-family:"Courier New",ui-monospace;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}

.titulo-contenido {
    width: 70%;
    margin: auto;
}

p {
    margin: 5px 5px 5px 0px;
    padding-top: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.footer-link {
    font-family:"Courier New",ui-monospace;
    font-weight: bold;
    font-size: 16px;
    color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
    
}

footer {
    display: flex;
    justify-content: space-evenly;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 16px;
}

.carousel-caption {
    padding: 30px;
    text-align: left;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

@media (max-width: 576px) {
    .carousel-caption {
        display: block;
        position: relative;
        left: 0;
        top: 0;
        background: #000;
        min-height: 320px;
    }
    
    .carousel-caption h5 {
        font-size: 20px;
    }
    
    .carousel-caption p {
        line-height: 1.5;
        padding: 20px 0;
        font-size: 14px;
    }
}
