h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Courier New",ui-monospace;
    font-weight: bold;
    color:rgb(218, 139, 74);
    padding: 5px;
}
footer {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 16px;
}
.footer-link {
    font-family:"Courier New",ui-monospace;
    font-weight: bold;
    font-size: 16px;
    color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
}

.presentacion {
    display: flex;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 20px;

}
.presentacion p {
    text-align: justify;
}
.imagenesredes {
    display: flex;
    justify-content: space-evenly;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 16px;
}

.imagenesredes img {
    width: 40px;
    padding-bottom: 20px;
}
.imagenesredes a {
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenesredes .text-link--style-1 {
    text-decoration: none;
    text-transform: initial;
    padding-bottom: 20px;
}
@media (max-width: 576px) {
    .presentacion {
        width: 100%;
        margin: 0 0 50px;
    }

    .imagenesredes {
        justify-content: flex-start;
        gap: 40px;
        padding-bottom: 30px;
    }

    .imagenesredes a {
        min-width: initial;
    }
}