h1 span {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Courier New",ui-monospace;
    font-weight: bold;
    color:rgb(218, 139, 74);
    padding: 5px;
}
.formulario {
    padding: 50px;
    font-family:"Courier New",ui-monospace;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}
.formulario .ingresar:hover {
    background-color: rgb(214, 203, 0);
    
}
 
.formulario, .fotoPerfil {
    display: inline-block;
    vertical-align: middle;
}

.formulario div {
    margin-bottom: 15px;
}

.formulario label {
display: block;
margin-bottom: 5px;
}

.formulario .recordarme {
display: inline-block;
}

.columna1 {
    height: 100vh;
    display: grid;
    place-content: center;
    position: relative;
}
.columna1 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: brightness(0.8);    
}
.columna1 .formulario {
    z-index: 1;
    position: relative;
}

.pantallageneral {
    display: grid;
    grid-template-columns: 50% 50%;
}

@media (max-width: 576px) {
	main {
		height: calc(100vh - 128px);
	}
	.columna1 {
		height: 100%;
	}
}